/* ----- Header ----- */
.header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header li a {
  font-size: 1.2em;
  padding: .5rem 1rem;
  margin-inline: .5rem;
  border-radius: .5rem;
}
.header li a:hover {
  background-color: rgba(225, 255, 255, .1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.hamburguesa {
  display: none;
}

/* ----- Footer ----- */
.detalles {
  align-items: start;
}

/* ----- Video ----- */
video {
  overflow: hidden;
  height: 55vh;
  border-radius: 2rem;
}

/* ----- Menu ----- */
.buscar {
  min-height: 100vh;
  padding-block-start: 5rem;
}
.boxflex a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.boxflex a img {
  transition: scale 400ms;
}
.boxflex a:hover img {
  scale:120%
}
.plato figure img {
  transition: scale 400ms;
}
.plato:hover img {
  scale: 120%;
}
/* ----- Reserva ----- */

.reserva .gridbox {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
.encuentranos {
  min-height: 80vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 8rem 25rem;
  grid-template-areas: 
  "n1 n1 n1"
  "n2 n2 n3"
  ;
  gap: 2rem;
}
.encuentranos .titulo {
  grid-area: n1;
}
.encuentranos .mapa {
  grid-area: n2;
}
.encuentranos .info {
  grid-area: n3;
}
/* ----- Reseña ----- */
.resena {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10rem repeat(3 30rem);
  grid-template-areas: 
  "r1 r1"
  "r2 r2"
  "r3 r4"
  "r5 r5"
  ;
  gap: 1rem;
}
.resena .r2 {
  grid-area: r2;
}
.resena .r3 {
  grid-area: r3;
}
.resena .r4 {
  grid-area: r4;
}
.resena .r5 {
  grid-area: r5;
}

.resena .doble {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3rem 18rem;
  grid-template-areas:
  "d1 d1"
  "d2 d3"
  ;
}

.boxdetalles {
  height: 25rem;
}