/* ----- Header ----- */
.header {
  display: flex;
  flex-wrap: wrap;
}
.hamburguesa {
  max-width: 3rem;
  border-radius: var(--borde);
}
.hamburguesa:active {
  background-color: rgba(225, 255, 255, .1);
}
.header nav {
  flex-grow: 1;
  flex-basis: 100%;
  align-items: center;
  min-height: 100vh;
}
.nav{
  display: none;
}
.nav__links{
  display: flex;
  min-height: 50%;
  padding: 2rem;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  transition: transform;
}
.nav__links li {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
.header li a {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-inline: .5rem;
  border-radius: .5rem;
}
.header li a:active {
  background-color: rgba(225, 255, 255, .2);
}
#nav__checkbox:checked + .nav {
  display: block;
}
/* ----- Footer ----- */
.footer .detalles {
  flex-direction: column;
}

/* ----- Menu ----- */

.buscar {
  padding-top: 6rem;
}
.boxflex a:active {
  background-color: var(--color-btn);
}

/* ----- Reserva ----- */
.reserva .gridbox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.encuentranos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* ----- Reseña ----- */
.resena {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10rem repeat(4 30rem);
  grid-template-areas: 
  "r1 r1"
  "r2 r2"
  "r3 r3"
  "r4 r4"
  "r5 r5"
  ;
  gap: 1rem;
}
.resena .r2 {
  grid-area: r2;
}
.resena .r3 {
  grid-area: r3;
}
.resena .r4 {
  grid-area: r4;
}
.resena .r5 {
  grid-area: r5;
}