@import url('desktop.css') screen and (min-width:1025px);
@import url('tablet.css') screen and (min-width:581px) and (max-width:1024px);
@import url('mobile.css') screen and (max-width:580px);

@font-face {
  font-family: Josefin Sans;
  src: url('../fonts/JosefinSans-Regular.ttf');
}

/* General */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  width: 100%;
  font-size: 100%;
  background: radial-gradient(circle at top, #b22222 , #000000);
  background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6, p, a, figcaption, textarea, legend, label, input, select {
  font-size: 1em;
  text-decoration: none;
  color: white;
  font-weight: inherit;
  font-style: inherit;
  font-family: Josefin Sans;
}
img, figure{
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
}
li {
	list-style-type: none;
}
/* --Variables-- */
:root {
  --sombra: 4px 4px 8px rgba(0, 0, 0, 0.5);
  --color-btn: #ec1c2a;
  --borde: clamp(.5em, 1vw, 1em);
}
/* --Componentes-- */
/* Boton */
.titulo {
  font-size: clamp(3.2em, 5vw, 5em);
  font-weight: 600;
}
.subtitulo {
  font-size: clamp(2.5em, 4vw, 4em);;
  font-weight: 600;
}
.btn {
  background-color: var(--color-btn);
  border-radius: 2rem;
  font-weight: 600;
  box-shadow: var(--sombra);
  transition: scale 400ms;
}
.btn:hover {
  scale: 110%;
}
/* Header */
.header {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1.5rem);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  min-height: 5rem;
  padding-block: 1rem;
  padding-inline: clamp(1rem, 5vw, 3rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}
.header .logo {
  font-size: 2em;
}
.logo a {
  font-weight: bold;
  padding: .3rem;
}
#nav__checkbox {
  display: none;
}
/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.footer .logo {
  margin-block-start: 2rem;
  font-size: 1.5em;
  font-weight:600;
}
.footer .logo a {
  padding-block: .5rem;
}

.detalles {
  width: 100%;
  display: flex;
  margin-block: 1rem;
  justify-content: space-evenly;
  gap: clamp(1rem, 5vw, 3rem);
}
.detalles article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 15rem;
}
.detalles article img {
  width: 3rem;
  max-height: 3rem;
  margin-block-start: 1rem;
}
.detalles article p {
  font-size: 1.2em;
  text-align: center;
}
.redes {
  display: flex;
  gap: 2rem;
  margin-block: 1rem;
}
.redes li a {
  width: 1rem;
}
.redes li a img {
  min-height: 2rem;
  width: 2rem;
  transition: scale 400ms;
}
.redes li a img:hover {
  scale: 120%;
}

/* Seccion */
.seccion {
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-inline: clamp(1.5rem, 7vw, 6rem);
}

/* Publicidad */
.gif {
  background-color: gray;
  min-height: 23rem;
}

/* ----- Inicio ----- */
/* Inicio - 1ra Seccion */
.inicio {
  min-height: 100vh;
}
.inicio figure {
  padding-top: 6rem;
  justify-content: center;
}
.inicio figure img {
  min-height: 20rem;
  width: 15rem;
  margin-block: 2rem;
}
.inicio a {
  font-size: 2em;
  text-align: center;
  width: 15rem;
  padding-block: 1rem;
  margin-block: 1rem;
}

/* Inicio - Nosotros */
.nosotros {
  background-color: black;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  min-height: 100vh;
  padding-block: 2rem;
}
.nosotros .titulo {
  margin-block: 3rem;
  text-align: center;
}
.nosotros figure {
  width: 100%;
  overflow: hidden;
  height: 60vh;

}
.nosotros figure img {
  background-color: gray;
  min-height: 15rem;
  margin-block: 2rem;
}
.nosotros p {
  text-align: center;
  font-size: 1.6em;
  line-height: 2rem;
  width: 80%;
  margin: 3rem auto;
}

/* Inicio - 3ra Seccion */
.servicios {
  align-items: baseline;
  justify-content: space-evenly;
}
.servicios .subtitulo {
  margin-block: 2rem;
}
.gridbox {
  width: 100%;
  margin-block-end: 3rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax( 23rem,  1fr));
}
.gridbox article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  min-height: 20rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2rem);
  border-radius: var(--borde);
  box-shadow: var(--sombra);
}
.gridbox article figure {
  width: 5rem;
  height: 5rem;
}
.gridbox article h4 {
  font-size: 1.7em;
}
.gridbox article p {
  font-size: 1.3em;
  text-align: center;
  line-height: 1.5rem;
}

/* ----- Menu ----- */
/* Menu - Buscar */
.buscar {
  align-items: baseline;
}
.buscar .titulo {
  margin-block: 2rem ;
}
.boxflex{
  width: 100%;
  display: flex;
  gap: min(.2rem, 1rem);
  justify-content: space-between;
}
.boxflex a {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2rem);
  border-radius: var(--borde);
  box-shadow: var(--sombra);
  width: clamp(5rem, 20vw, 28rem);
  height: clamp(8rem, 30vw, 30rem);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.boxflex a figure {
  width: 60%;
  aspect-ratio: 1 / 1;
}
.boxflex a figure img {
  filter: drop-shadow(0px 0px 3px white);
}
.boxflex a h3 {
  font-size: clamp(1em, 4vw, 2.5em);
  font-weight: 600;
}
/* Menu - Categorias */
.categoria {
  align-items: baseline;
  margin-bottom: 4rem;
}
.categoria .subtitulo {
  margin-block: 2rem;
}
.categoria .gridbox {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
}
.categoria .gridbox .plato {
  flex-direction: column;
  max-height: 20rem;
  overflow: hidden;
  border-radius: var(--borde);
  box-shadow: var(--sombra);
}
.plato figure {
  position: relative;
  height: 100%;
}
.plato figure img {
  background-color: gray;
}
.descripcion {
  width: 100%;
  font-size: 1.4em;
  line-height: 2rem;
  font-weight: 600;
  position: absolute;
  padding: .8rem 1.3rem;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
}

/* ----- Reserva ----- */
/* Reserva - Formulario */
.reserva {
  min-height: 100vh;
  padding-top: 5rem;
  margin-bottom: 2rem;
}
.reserva .titulo {
  width: 100%;
  margin-block: 2rem;
  text-align: center;
}
.reserva .gridbox {
  width: 100%;
}
.seccion__form legend {
  margin-block: 1rem;
  font-size: 2.4em;
}
.seccion__form .personas {
  width: 49%;
}
.cajadoble {
  box-sizing: border-box;
  width: 49%;
  display: inline-block;
}
.celda > label{
  font-size: 1.7em;
  display: block;
  margin-block: .5rem;
}
.seccion__form input, select, textarea {
  width: 100%;
  min-height: 3rem;
  border-radius: .5rem;
  margin-block-end: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem);
  color: white;
  padding-inline-start: 1rem;
  font-size: 1.2em;
  font-weight: 300;
  box-shadow: var(--sombra);

}
.preferencia {
  display: inline-block;
  width: 49%;
  text-align: center;
  min-height: 3rem;
  border-radius: .5rem;
  cursor: pointer;
  padding-top: .8rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem);
  box-shadow: var(--sombra);
  color: white;
  font-size: 1.5rem;
  margin-block-end: 1rem;
}
.seccion__form input[type="radio"] {
  display: none;
}
.seccion__form input[type="radio"]:checked + .preferencia {
  background-color: #181818;
}
.seccion__form select {
  width: 49%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.seccion__form select option {
  background-color: #181818;
  font-size:1.2em;
}
.seccion__form textarea {
  resize: none;
  font-size: 1.2em;
  padding-top: .5rem;
}
.cajaenviar {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
}
.cajaenviar input {
  cursor: pointer;
  font-size: 2em;
  text-align: center;
  padding-block: 1rem;
  width: 20rem;
}

/* Reserva - Encuentranos */
.encuentranos {
  display: grid;
  padding-block: 4rem;
}
.encuentranos .titulo {
  text-align: center;
  margin: 2rem;
}
.encuentranos .mapa {
  overflow: hidden;
  min-height: 25rem;
  width: 100%;
  box-shadow: var(--sombra);
}
.encuentranos .info {
  padding-inline-start: 2rem;
  min-height: 15rem;
  margin: 2rem 0;
}
.encuentranos .info h4 {
  font-size: 2em;
  padding: 2rem 0 1rem 0;  
  font-weight: 600;
}
.encuentranos .info p {
  font-size: 1.5em;
  padding-block: .5rem;
}
.encuentranos .info .negrita {
  font-weight: 600;
}

/* ----- Reseña ----- */
/* Reseña -  */
.resena {
  display: grid;
  padding-block-start: 5rem;
  padding-block-end: 2rem;
}
.resena .titulo {
  margin: 2rem;
  text-align: center;
  grid-area: r1;
}
.caja_resena {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2rem);
  border-radius: var(--borde);
  box-shadow: var(--sombra);
  min-height: 30rem;
  width: 100%;
  overflow: hidden;
  padding: 3rem 2rem;
}
.caja_resena .subtitulo{
  font-size: 2.2em;
  grid-area: d1;
  align-self: auto;
  margin-bottom: 1.5rem;
  gap: 1rem;
}
.contenido_resena {
  min-height: 20rem;
  max-width: 50rem;
  padding-block: 1rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 13rem 5rem;
  gap: 1rem;
  flex: 1;
}
.contenido_resena figure {
  background-color: #181818;
  border-radius: var(--borde);
  width: 10rem;
  min-height: 12rem;
  grid-column: 1;
  overflow: hidden;
}
.contenido_resena article {
  grid-column: 2;
}
.contenido_resena article h4 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1rem;
}
.contenido_resena article p {
  font-size: 1.5em;
  line-height: 1.2em;
}
.puntuacion {
  display:flex;
  flex-direction: row;
  width: 10rem;
  padding-block: 2rem;
  font-size: 1.5em;
}
.contenido_descripcion {
  grid-row: 2;
  grid-column: 1 / span 2;
  font-size: 1.4em;
  line-height: 1.3em;
}

/* Reseña - Estaclecimiento */
.establecimiento {
  background-color: black;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  min-height: 100vh;
  padding-block: 2rem;
}
.establecimiento h2 {
  margin-block-start: 3rem;
  font-weight: 600;
  text-align: center;
}
.establecimiento figure {
  overflow: hidden;
  height: 60vh;
  margin-block-end: 2rem;
}
.establecimiento figure img {
  background-color: gray;
  min-height: 15rem;
  margin-block: 2rem;
  height: 100%;
}
.establecimiento article {
  padding-inline: clamp(1.5rem, 7vw, 6rem);
}
.establecimiento article h3 {
  font-size: 2.2em;
  font-weight: 600;
}
.establecimiento article p {
  font-size: 1.4em;
  margin-block: 2rem;
  line-height: 2rem;
}

/* ----- Confirmacion ----- */
/* Confirma - Reservacion */
.confirma {
  min-height: 100vh;
}
.confirma .titulo {
  padding-block-start: 4rem;
  margin-block: 2rem ;
  font-weight: 600;
  text-align: center;
}
.confirma .subtexto {
  text-align: center;
  font-size: 2em;
  margin-block: 2rem;
}
.confirma .boxflex{
  margin-block: 1rem;
  width: 100%;
  display: flex;
  gap: min(.2rem, 1rem);
  justify-content: space-evenly;
}
.confirma .boxflex article {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2rem);
  border-radius: var(--borde);
  box-shadow: var(--sombra);
  width: clamp(7rem, 20vw, 15rem);
  height: clamp(10rem, 20vw, 30rem);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
}
.confirma .boxflex article p {
  font-size: clamp(1em, 4vw, 2.5em);
}
.confirma .boxflex article h3 {
  padding: 1rem;
}

/* Confirma - Detalles */
.detalle .subtitulo{
  width: 100%;
}
.boxdetalles {
  width: 100%;
  margin-block: 2rem;
  padding: 2rem 3rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2rem);
  border-radius: var(--borde);
  box-shadow: var(--sombra);
}
.boxdetalles h4 {
  font-weight: 600;
  font-size: 1.7em;
}
.boxdetalles .textodetalle {
  font-weight: 100;
  font-size: 1.5em;
  padding-block: .5rem;
}
.boxdetalles ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100%;
}
.boxdetalles li {
  display: grid;
  align-items: center;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: 2rem 2rem;
  padding-block: 1rem;
}
.boxdetalles li h5 {
  font-size: 1.5em;
  font-weight: 600;
  grid-row: 1;
  grid-column: 2;
}
.boxdetalles li p {
  font-size: 1.3rem;
  font-weight: 100;
  grid-row: 2;
  grid-column: 2;
}
.boxdetalles li figure {
  width: clamp(2rem, 5vw, 3rem);
  aspect-ratio: 1 / 1;
  grid-row: 1 / span 2 ;
}
.detalle a {
  font-size: 1.5em;
  text-align: center;
  width: 15rem;
  padding-block: 1rem;
  margin-block-end: 2rem;
}