@media screen and (orientation:portrait) {
  /* ----- Header ----- */
  .header {
    display: flex;
    flex-wrap: wrap;
  }
  .hamburguesa {
    max-width: 3rem;
    border-radius: var(--borde);
  }
  .hamburguesa:active {
    background-color: rgba(225, 255, 255, .1);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  }
  .header nav {
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
    min-height: 100vh;
  }
  .nav{
    display: none;
  }
  .nav__links{
    display: flex;
    min-height: 50vh;
    padding: 2rem;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    transition: transform;
  }
  .nav__links li {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
  .header li a {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-inline: .5rem;
    border-radius: .5rem;
  }
  .header li a:active {
    background-color: rgba(225, 255, 255, .1);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  }
  #nav__checkbox:checked + .nav {
    display: block;
  }

  /* ----- Footer ----- */
  .footer .detalles {
    flex-direction: column;
    align-items: center;
  }
  
  /* ----- Menu ----- */
  .buscar {
    padding-top: 6rem;
  }
  
  /* ----- Reserva ----- */
  .reserva .gridbox {
      display: flex;
      flex-direction: column;
      gap: 2rem;
  }  
  .encuentranos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  /* ----- Reseña ----- */
  .resena {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem repeat(4 30rem);
    grid-template-areas: 
    "r1 r1"
    "r2 r2"
    "r3 r3"
    "r4 r4"
    "r5 r5"
    ;
    gap: 1rem;
  }
  .resena .r2 {
    grid-area: r2;
  }
  .resena .r3 {
    grid-area: r3;
  }
  .resena .r4 {
    grid-area: r4;
  }
  .resena .r5 {
    grid-area: r5;
  }
}

@media screen and (orientation:landscape) {
  /* ----- Header ----- */
  .header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header li a {
    padding: .5rem 1rem;
    margin-inline: .5rem;
    border-radius: .5rem;
  }
  .header li a:hover {
    background-color: rgba(225, 255, 255, .1);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  }
  .hamburguesa {
    display: none;
  }

  /* ----- Menu ----- */
  .buscar {
    min-height: 70vh;
    padding-block-start: 5rem;
  }
  .boxflex a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .boxflex a img {
    transition: scale 400ms;
  }
  .boxflex a:hover img {
    scale:120%
  }
  .plato figure img {
    transition: scale 400ms;
  }
  .plato:hover img {
    scale: 120%;
  }
  /* ----- Reserva ----- */
  .reserva .gridbox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .encuentranos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  /* ----- Reseña ----- */
  .resena {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem repeat(4 30rem);
    grid-template-areas: 
    "r1 r1"
    "r2 r2"
    "r3 r3"
    "r4 r4"
    "r5 r5"
    ;
    gap: 1rem;
  }
  .resena .r2 {
    grid-area: r2;
  }
  .resena .r3 {
    grid-area: r3;
  }
  .resena .r4 {
    grid-area: r4;
  }
  .resena .r5 {
    grid-area: r5;
  }
}
