@media screen and (orientation:portrait) {
  body {
    background-color: firebrick;
  }
  /* ----- Header ----- */
  .hamburguesa {
    max-width: 3rem;
    border-radius: var(--borde);
  }
  .hamburguesa:active {
    background-color: rgba(225, 255, 255, .1);
  }
  .nav ul {
    display: none;
  }
  .hamburguesa input {
    display: none;
  }

  /* ----- Footer ----- */
  .footer .detalles {
    flex-direction: column;
  }
  
  /* ----- Menu ----- */
  .buscar {
    padding-top: 6rem;
  }
  
  /* ----- Reserva ----- */
  .reserva .gridbox {
      display: flex;
      flex-direction: column;
      gap: 2rem;
  }  
  .encuentranos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  /* ----- Reseña ----- */
  .resena {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem repeat(4 30rem);
    grid-template-areas: 
    "r1 r1"
    "r2 r2"
    "r3 r3"
    "r4 r4"
    "r5 r5"
    ;
    gap: 1rem;
  }
  .resena .r2 {
    grid-area: r2;
  }
  .resena .r3 {
    grid-area: r3;
  }
  .resena .r4 {
    grid-area: r4;
  }
  .resena .r5 {
    grid-area: r5;
  }
}

@media screen and (orientation:landscape) {
  body {
    background-color: firebrick;
  }
  /* ----- Header ----- */
  .header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header li a {
    padding: .5rem 1rem;
    margin-inline: .5rem;
    border-radius: .5rem;
  }
  .header li a:hover {
    background-color: rgba(225, 255, 255, .1);
  }
  .hamburguesa {
    display: none;
  }

  /* ----- Menu ----- */
  .buscar {
    min-height: 100vh;
  }
  /* ----- Reserva ----- */
  .reserva .gridbox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .encuentranos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  /* ----- Reseña ----- */
  .resena {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem repeat(4 30rem);
    grid-template-areas: 
    "r1 r1"
    "r2 r2"
    "r3 r3"
    "r4 r4"
    "r5 r5"
    ;
    gap: 1rem;
  }
  .resena .r2 {
    grid-area: r2;
  }
  .resena .r3 {
    grid-area: r3;
  }
  .resena .r4 {
    grid-area: r4;
  }
  .resena .r5 {
    grid-area: r5;
  }
}
